<section class="section hero">
  <header class="header">
    <div class="logo">
      {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
      {{#if settings.show_brand_name}}
      <span aria-hidden="true">{{help_center.name}}</span>
      {{/if}}
      {{/link}}
    </div>
    <div class="nav-wrapper-desktop">
      <nav class="user-nav" id="user-nav">
        <ul class="user-nav-list">
          <li><a href="https://settleinus.org/about-core/">About CORE</i></a></li>
          <li><a href="https://settleinus.org/life-in-the-u-s/">Life in the U.S</a></li>
          <li><a href="https://settleinus.org/about-refugee-resettlement/">About Refugee
              Resettlement</a></li>
          <li class="active"><a href="https://settleinus.org/help-center/">Help Center</a></li>
          <li><a href="https://settleinus.org/multilingual-resource-library/">Multilingual
              Resource Library</a></li>
        </ul>
      </nav>
    </div>
    <div id="language-selector-wrapper" class="header-language-selector">
      {{#if alternative_locales}}
      <div class="dropdown language-selector">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{current_locale.name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
            class="dropdown-chevron-icon">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
          </svg>
        </button>
        <span class="dropdown-menu dropdown-menu-end" role="menu">
          {{#each alternative_locales}}
          <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
            {{name}}
          </a>
          {{/each}}
        </span>
      </div>
      {{/if}}
    </div>

    <div class="nav-wrapper-mobile">
      <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false"
        aria-label="{{t 'toggle_navigation'}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
          class="icon-menu">
          <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
        </svg>
      </button>

      <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
        <ul class="menu-list-mobile-items">
          <li><a href="https://settleinus.org/about-core/">About CORE</i></a></li>
          <li><a href="https://settleinus.org/life-in-the-u-s/">Life in the U.S</a></li>
          <li><a href="https://settleinus.org/about-refugee-resettlement/">About Refugee
              Resettlement</a></li>
          <li><a href="https://settleinus.org/help-center/">Help Center</a></li>
          <li><a href="https://settleinus.org/multilingual-resource-library/">Multilingual
              Resource Library</a></li>
        </ul>

      </nav>

    </div>

  </header>
  <div class="container-divider"></div>
  <div class="container">
    <nav class="sub-nav">
      {{breadcrumbs}}
      <div class="search-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
          class="search-icon">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
        </svg>
        {{search scoped=settings.scoped_kb_search submit=false}}
      </div>
    </nav>

    <div class="category-container">
      <div class="category-content">
        <header class="page-header">
          <h1>{{category.name}}</h1>
          {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
          {{/if}}
        </header>

        <div id="main-content" class="section-tree">
          {{#each sections}}
          <section class="section">
            <h2 class="section-tree-title">
              <a href="{{url}}">{{name}}</a>
            </h2>
            {{#if articles}}
            <ul class="article-list">
              {{#each articles}}
              <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                {{#if promoted}}
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
                  class="icon-star" title="{{t 'promoted'}}">
                  <path fill="currentColor"
                    d="M2.88 11.73c-.19 0-.39-.06-.55-.18a.938.938 0 01-.37-1.01l.8-3L.35 5.57a.938.938 0 01-.3-1.03c.12-.37.45-.63.85-.65L4 3.73 5.12.83c.14-.37.49-.61.88-.61s.74.24.88.6L8 3.73l3.11.17a.946.946 0 01.55 1.68L9.24 7.53l.8 3a.95.95 0 01-1.43 1.04L6 9.88l-2.61 1.69c-.16.1-.34.16-.51.16z" />
                </svg>
                {{/if}}
                <a href="{{url}}" class="article-list-link">{{title}}</a>
                {{#if internal}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                  class="icon-lock" title="{{t 'internal'}}">
                  <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                  <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
                </svg>
                {{/if}}
              </li>
              {{/each}}
            </ul>
            {{#if more_articles}}
            <a href="{{url}}" class="see-all-articles">
              {{t 'show_all_articles' count=article_count}}
            </a>
            {{/if}}
            {{/if}}
          </section>
          {{else}}
          <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
          {{/each}}
        </div>
      </div>
    </div>
  </div>