<footer class="footer">
  <div class="footer-inner">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="box">

          <div class="row bottom-xs">
            <div class="col-xs-12 col-md-4">
              <div class="box text-center">
                <img class="footer-logo" src="{{asset 'SettleIn-Logo-x2.png'}}" width="151" height="93" />
                <div class="footer-slogan text-center">{{ settings.core_slogan }}</div>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 ">
              <div class="box">
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="box">
              </div>
            </div>
          </div>
          <div class="row middle-xs between-xs margin-top-20">
            <div class="col-xs-4 col-md-4">
              <div class="box">
                <img src="{{asset 'App-Store.png'}}" width="834" />
              </div>
            </div>
            <div class="col-xs-4 col-md-4">
              <div class="box">
                <img src="{{asset 'Google-Store.png'}}" />
              </div>
            </div>
            <div class="col-xs-4 col-md-4">
              <div class="box">
                <img src="{{asset 'Desktop-App.png'}}" />
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="box">
          <div class="row bottom-xs">
            <div class="col-xs-12">
              <p>
                {{dc 'settlein_footer_description'}}
              </p>
            </div>
          </div>
          <div class="row bottom-xs">
            <div class="col-xs-7 col-sm-5 col-md-6">
              <div class="box">
                <img class="us-flag" src="{{asset 'U.S.A-Flag.png'}}" />
              </div>
            </div>
            <div class="col-xs-5 col-md-4">
              <div class="box">
                <img class="irc-logo" src="{{asset 'International-Rescue-Commitee.png'}}" />
              </div>
            </div>
            <div class="col-xs-4 col-md-4">
              <div class="box">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>