<footer class="footer">
  <div class="footer-inner">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="box">

          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <img src="{{asset 'SettleIn-Logo-x2.png'}}" width="151" height="93" />
                <div class="text-center">{{ settings.core_slogan }}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-md-4">
              <div class="box">
                <img src="{{asset 'App-Store.png'}}" width="834" />
              </div>
            </div>
            <div class="col-xs-4 col-md-4">
              <div class="box">
                <img src="{{asset 'Google-Store.png'}}" />
              </div>
            </div>
            <div class="col-xs-4 col-md-4">
              <div class="box">
                <img src="{{asset 'Desktop-App.png'}}" />
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="box">
          <p>
            The content on this website is developed by the Cultural Orientation Resource Exchange (CORE), is in the
            public domain, and may be reproduced. The contents of this website were developed under an agreement
            financed by the Bureau of Population, Refugees, and Migration, United States Department of State, but do
            not necessarily represent the policy of that agency and should not assume endorsement by the Federal
            Government.
          </p>
          <div class="row">
            <div class="col-xs-4 col-md-4">
              <div class="box">
                <img src="{{asset 'U.S.A-Flag.png'}}" />
              </div>
            </div>
            <div class="col-xs-4 col-md-4">
              <div class="box">
                <img src="{{asset 'International-Rescue-Commitee.png'}}" />
              </div>
            </div>
            <div class="col-xs-4 col-md-4">
              <div class="box">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>