<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<section class="section hero">
    <div id="top-bar">
        <div class="search-container">
            <svg version="1.1" viewBox="0 0 15.041 15.045" class="search-icon" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(-113.14 576.52)">
                    <path
                        d="m119.5-566.1c2.2285 6e-3 4.0068-1.7805 4.0495-4.0047 0.042-2.2077-1.85-4.0622-3.9913-4.0869-2.219-0.0258-4.124 1.8584-4.0975 4.0608 0.0272 2.2313 1.796 4.0245 4.0393 4.0308m8.6808 3.2981v0.31574c-8e-3 0.019-0.0201 0.037-0.0243 0.0568-0.0998 0.47026-0.38382 0.78529-0.83961 0.9137-0.46038 0.12982-0.84596-0.0215-1.1839-0.36442-0.96167-0.97437-1.9368-1.9357-2.9065-2.902-0.0399-0.0392-0.0822-0.0758-0.12383-0.11465-0.0381 0.0247-0.0642 0.0423-0.09 0.0596-1.4517 0.95108-3.0353 1.2629-4.7332 0.92992-4.0012-0.78564-6.2438-5.0684-4.5907-8.7866 0.93698-2.1071 2.5883-3.3249 4.8486-3.7282 0.26282-0.0469 0.53093-0.0628 0.79657-0.0928h0.34784c0.0617 9e-3 0.12347 0.0197 0.18556 0.0282 0.32279 0.043 0.65017 0.0624 0.96696 0.13158 3.7987 0.82656 5.7778 4.6133 4.7699 8.038-0.18732 0.63535-0.47872 1.2206-0.8823 1.8133 0.0473 0.0282 0.10619 0.0498 0.14641 0.09 0.90628 0.90276 1.8076 1.8108 2.7167 2.7104 0.26352 0.26106 0.51929 0.52035 0.59584 0.90135" />
                </g>
            </svg>

            {{search placeholder=(dc "settlein_search_text") scoped=settings.scoped_kb_search submit=false}}
        </div>
    </div>

    <header class="header">
        <div class="logo">
            {{#link 'help_center'}}
            <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
            {{#if settings.show_brand_name}}
            <span aria-hidden="true">{{help_center.name}}</span>
            {{/if}}
            {{/link}}
            <div class="hide hidden" id="negative_logo">{{settings.negative_logo}}</div>
        </div>
        <div class="nav-wrapper-desktop">
            <nav class="user-nav" id="user-nav">
                <ul class="user-nav-list">
                    <li><a href="https://settleinus.org/about-core/">About CORE</i></a></li>
                    <li><a href="https://settleinus.org/life-in-the-u-s/">Life in the U.S</a></li>
                    <li><a href="https://settleinus.org/about-refugee-resettlement/">About Refugee
                            Resettlement</a></li>
                    <li class="active"><a href="https://settleinus.org/help-center/">Help Center</a></li>
                    <li><a href="https://settleinus.org/multilingual-resource-library/">Multilingual
                            Resource Library</a></li>
                </ul>
            </nav>
        </div>

        <div class="max-width-250">
            <div class="language-container">
                <div class="language-icon-col text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1"
                        x="0px" y="0px" viewBox="0 0 69 57.4" style="enable-background:new 0 0 69 57.4;"
                        xml:space="preserve">
                        <g>
                            <defs>
                                <rect id="SVGID_7_" x="-2135" y="-181.3" width="1920" height="4899.6"></rect>
                            </defs>
                            <clipPath id="SVGID_2_">
                                <use xlink:href="#SVGID_7_" style="overflow:visible;"></use>
                            </clipPath>
                            <g style="clip-path:url(#SVGID_2_);">
                                <defs>
                                    <rect id="SVGID_13_" x="53.1" y="-16.2" width="1922" height="1044.4"></rect>
                                </defs>
                                <clipPath id="SVGID_4_">
                                    <use xlink:href="#SVGID_13_" style="overflow:visible;"></use>
                                </clipPath>
                                <g style="opacity:7.000730e-02;clip-path:url(#SVGID_4_);">
                                    <g>
                                        <defs>
                                            <rect id="SVGID_15_" x="-1037.9" y="-316.4" width="4168.6" height="4148.4">
                                            </rect>
                                        </defs>
                                        <clipPath id="SVGID_6_">
                                            <use xlink:href="#SVGID_15_" style="overflow:visible;"></use>
                                        </clipPath>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g>
                            <defs>
                                <rect id="SVGID_17_" x="-2132.6" y="-173.7" width="1917.6" height="1044.4"></rect>
                            </defs>
                            <clipPath id="SVGID_8_">
                                <use xlink:href="#SVGID_17_" style="overflow:visible;"></use>
                            </clipPath>
                            <g style="opacity:7.000730e-02;clip-path:url(#SVGID_8_);">
                                <g>
                                    <defs>
                                        <rect id="SVGID_19_" x="-3223.6" y="-473.9" width="4168.6" height="4148.4">
                                        </rect>
                                    </defs>
                                    <clipPath id="SVGID_10_">
                                        <use xlink:href="#SVGID_19_" style="overflow:visible;"></use>
                                    </clipPath>
                                </g>
                            </g>
                        </g>
                        <g>
                            <defs>
                                <path id="SVGID_35_"
                                    d="M80.4-2124.7l1.2,994.5c0,0,964.3,390.1,1943.8,0l-1.2-994.5H80.4z">
                                </path>
                            </defs>
                            <clipPath id="SVGID_12_">
                                <use xlink:href="#SVGID_35_" style="overflow:visible;"></use>
                            </clipPath>
                            <g style="opacity:7.000730e-02;clip-path:url(#SVGID_12_);">
                                <g>
                                    <defs>
                                        <rect id="SVGID_37_" x="-1022.8" y="-3603.3" width="4168.6" height="4148.4">
                                        </rect>
                                    </defs>
                                    <clipPath id="SVGID_14_">
                                        <use xlink:href="#SVGID_37_" style="overflow:visible;"></use>
                                    </clipPath>
                                </g>
                            </g>
                        </g>
                        <g>
                            <defs>
                                <rect id="SVGID_73_" x="-2135" y="-181.3" width="1920" height="4899.6"></rect>
                            </defs>
                            <clipPath id="SVGID_16_">
                                <use xlink:href="#SVGID_73_" style="overflow:visible;"></use>
                            </clipPath>
                        </g>
                        <path class="st18"
                            d="M50.9,49.2c-0.6-0.7-1.2-1.3-1.8-2c-0.9-1.1-1.8-2.2-2.7-3.3c-0.2-0.2-0.4-0.3-0.7-0.3c-3.5,0-7,0-10.5,0 c-2.2,0-3.8-1.1-4.9-3c-0.5-0.9-0.7-1.9-0.6-2.9c0-3.2,0-6.4,0-9.6c0-2.8,2.1-5.2,5.1-5.5c0.1,0,0.3,0,0.4,0v2.3 c-1.4,0.1-2.4,0.8-2.9,2.1c-0.2,0.4-0.2,0.9-0.2,1.3c0,3.3,0,6.5,0,9.8c0,1.6,1.1,2.9,2.6,3.2c0.3,0.1,0.7,0,1.1,0c3.7,0,7.3,0,11,0 c0.3,0,0.5,0.1,0.7,0.3c1.1,1.3,2.1,2.5,3.2,3.8c0,0.1,0.1,0.1,0.1,0.2c0,0,0.1,0,0.1,0v-4.2c0.6,0,1.2,0,1.8,0c0.9,0,1.8,0,2.7,0 c1.3,0,2.2-0.7,2.8-1.8c0.3-0.5,0.3-1.1,0.3-1.7c0-3.2,0-6.3,0-9.5c0-1.7-1.4-3.4-3.3-3.4c-4.3,0-8.6,0-12.9,0h-0.6v-2.4h1.6 c4.1,0,8.1,0,12.2,0c2.5,0,4.9,2.1,5.3,4.5c0,0.2,0.1,0.5,0.1,0.7v10.6c0,0.2-0.1,0.4-0.1,0.7c-0.5,2.6-2.8,4.8-5.6,4.7 c-0.7,0-1.3,0-2,0v0.6c0,1.1,0,2.3,0,3.4c0,0.7-0.3,1.3-0.9,1.6H50.9z">
                        </path>
                        <path class="st18"
                            d="M35.4,9.8c0.8,0.3,1.6,0.6,2.2,1.2c1.3,1.2,2,2.6,2,4.4c0,2.7,0,5.3,0,8c0,0.9,0,1.8-0.1,2.7 c-0.3,2.5-2.7,4.7-5.2,4.7h-0.2c0-0.7,0-1.5,0-2.2c0-0.1,0.2-0.2,0.3-0.2c0.8-0.1,1.5-0.5,2.1-1.1c0.5-0.6,0.8-1.3,0.8-2 c0-2.3,0-4.7,0-7c0-1,0-2.1,0-3.1c0-1.6-1.5-3.2-3.2-3.2c-5.4,0-10.8,0-16.3,0c-1.3,0-2.6,0-4,0c-1.3,0-2.7,1.2-2.9,2.6 c-0.1,0.8-0.1,1.7-0.1,2.5c0,2.6,0,5.1,0,7.7c0,1.7,0.8,3,2.2,3.4c0.6,0.2,1.3,0.2,1.9,0.2c1.2,0,2.3,0,3.5,0v4.2c0,0,0.1,0,0.1,0 c0.5-0.6,0.9-1.1,1.4-1.7c0.7-0.8,1.4-1.6,2-2.4c0.1-0.1,0.2-0.2,0.3-0.2c1.7,0,3.5,0,5.2,0c0,0,0,0,0.1,0v2.3c-0.5,0-1,0-1.6,0 c-0.9,0-1.7,0-2.6,0c-0.2,0-0.4,0.1-0.5,0.3c-1.4,1.6-2.7,3.3-4.1,4.9c-0.4,0.5-1,0.7-1.7,0.5c-0.6-0.2-1-0.6-1-1.2 c-0.1-0.6,0-1.2,0-1.9c0-0.8,0-1.7,0-2.6c-0.7,0-1.5,0-2.2,0c-2.8,0-5.2-2.2-5.4-5c0-0.1,0-0.2-0.1-0.3V15c0-0.1,0.1-0.2,0.1-0.3 c0.2-1.5,0.8-2.7,1.9-3.7c0.6-0.6,1.4-0.9,2.2-1.2H35.4z">
                        </path>
                        <path class="st18"
                            d="M43.1,26.1c0.7,0.1,1.3,0.1,2,0.2v1.5c1.4-0.2,2.8-0.3,4.2-0.5c0.1,0.6,0.1,1.2,0.2,1.9 c-1.5,0.1-3,0.3-4.5,0.4V31c0.5,0,1.1-0.1,1.6-0.1c0-0.1,0.1-0.2,0.1-0.4c0.6,0.1,1.2,0.2,1.8,0.3c0,0.2,0,0.3,0,0.4 c0,0,0,0,0.1-0.1c0.5,0.4,1.1,0.7,1.5,1.1c0.9,0.9,1,2,0.8,3.1c-0.2,1.3-1.1,2-2.3,2.5c-0.6,0.2-1.2,0.3-1.8,0.5 c-0.3,0.1-0.4,0-0.6-0.2c-0.2-0.4-0.5-0.7-0.8-1.1c0.6-0.2,1.2-0.3,1.7-0.4c0.5-0.2,1-0.5,1.4-0.9c0.7-0.9,0.3-2.2-0.7-2.6 c-0.6,0.8-1.1,1.6-1.7,2.3c-1.1,1.3-2.5,2.1-4.3,2.2c-1.2,0-2-0.8-2-1.9c0-1.8,1-2.9,2.4-3.6c0.5-0.3,0.7-0.6,0.6-1.1 c-0.1-0.4,0-0.8,0-1.2h-2.4c0-0.6-0.1-1.1-0.1-1.8H43C43.1,27.2,43.1,26.7,43.1,26.1 M43.1,33.4c-0.5,0.3-0.9,0.6-1.1,1 c-0.2,0.3-0.3,0.7-0.1,1.1c0.2,0.3,0.6,0.2,1,0.1c0.3-0.1,0.5-0.2,0.4-0.6c-0.1-0.2,0-0.4-0.1-0.6C43.2,34,43.2,33.7,43.1,33.4  M44.9,32.7c0,0.4,0.1,0.8,0.1,1.2l0.1,0c0.3-0.4,0.6-0.9,0.9-1.4C45.6,32.6,45.3,32.7,44.9,32.7">
                        </path>
                        <path class="st18"
                            d="M28.9,24.6c-0.8,0-1.6,0-2.3,0c-0.1,0-0.2-0.1-0.3-0.2c-0.2-0.6-0.5-1.3-0.7-1.9c-0.1-0.2-0.2-0.3-0.4-0.3 c-1.2,0-2.4,0-3.6,0c-0.2,0-0.3,0.1-0.3,0.3c-0.2,0.6-0.5,1.3-0.7,1.9c-0.1,0.2-0.2,0.3-0.4,0.3c-0.7,0-1.4,0-2.2,0 c0.2-0.6,0.4-1.1,0.6-1.6c1-2.6,2-5.2,2.9-7.8c0.2-0.5,0.4-1,0.6-1.4c0-0.1,0.2-0.2,0.3-0.2c0.7,0,1.3,0,2,0c0.2,0,0.3,0.1,0.4,0.3 c0.7,2,1.5,4,2.2,6c0.6,1.5,1.1,2.9,1.7,4.4C28.8,24.4,28.9,24.5,28.9,24.6 M23.6,16.4C23.5,16.4,23.5,16.4,23.6,16.4 c-0.5,1.3-1,2.6-1.5,3.9h2.8C24.5,19,24,17.7,23.6,16.4">
                        </path>
                    </svg>
                </div>
                <div class="lang_switcher_title">{{dc 'settlein_language_dropdown_label' }}: </div>
                <div class="language-dropdown">
                    <div id="language-selector-wrapper" class="header-language-selector">
                        {{#if alternative_locales}}
                        <div class="dropdown language-selector">
                            <button class="dropdown-toggle" aria-haspopup="true">
                                {{current_locale.name}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false"
                                    viewBox="0 0 12 12" class="dropdown-chevron-icon">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"></path>
                                </svg>
                            </button>
                            <span class="dropdown-menu dropdown-menu-end" role="menu">
                                {{#each alternative_locales}}
                                <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                                    {{name}}
                                </a>
                                {{/each}}
                            </span>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-wrapper-mobile">
            <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false"
                aria-label="{{t 'toggle_navigation'}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                    class="icon-menu">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
                </svg>
            </button>

            <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
                <ul class="menu-list-mobile-items">
                    <li><a href="https://settleinus.org/about-core/">About CORE</i></a></li>
                    <li><a href="https://settleinus.org/life-in-the-u-s/">Life in the U.S</a></li>
                    <li><a href="https://settleinus.org/about-refugee-resettlement/">About Refugee
                            Resettlement</a></li>
                    <li><a href="https://settleinus.org/help-center/">Help Center</a></li>
                    <li><a href="https://settleinus.org/multilingual-resource-library/">Multilingual
                            Resource Library</a></li>
                </ul>

            </nav>

        </div>

    </header>