<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<section class="section hero">
    <div id="top-bar">
        <div class="search-container">
            <svg version="1.1" viewBox="0 0 15.041 15.045" class="search-icon" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(-113.14 576.52)">
                    <path
                        d="m119.5-566.1c2.2285 6e-3 4.0068-1.7805 4.0495-4.0047 0.042-2.2077-1.85-4.0622-3.9913-4.0869-2.219-0.0258-4.124 1.8584-4.0975 4.0608 0.0272 2.2313 1.796 4.0245 4.0393 4.0308m8.6808 3.2981v0.31574c-8e-3 0.019-0.0201 0.037-0.0243 0.0568-0.0998 0.47026-0.38382 0.78529-0.83961 0.9137-0.46038 0.12982-0.84596-0.0215-1.1839-0.36442-0.96167-0.97437-1.9368-1.9357-2.9065-2.902-0.0399-0.0392-0.0822-0.0758-0.12383-0.11465-0.0381 0.0247-0.0642 0.0423-0.09 0.0596-1.4517 0.95108-3.0353 1.2629-4.7332 0.92992-4.0012-0.78564-6.2438-5.0684-4.5907-8.7866 0.93698-2.1071 2.5883-3.3249 4.8486-3.7282 0.26282-0.0469 0.53093-0.0628 0.79657-0.0928h0.34784c0.0617 9e-3 0.12347 0.0197 0.18556 0.0282 0.32279 0.043 0.65017 0.0624 0.96696 0.13158 3.7987 0.82656 5.7778 4.6133 4.7699 8.038-0.18732 0.63535-0.47872 1.2206-0.8823 1.8133 0.0473 0.0282 0.10619 0.0498 0.14641 0.09 0.90628 0.90276 1.8076 1.8108 2.7167 2.7104 0.26352 0.26106 0.51929 0.52035 0.59584 0.90135" />
                </g>
            </svg>

            {{search placeholder=(dc "settlein_search_text") scoped=settings.scoped_kb_search submit=false}}
        </div>
    </div>

    <header class="header">
        <div class="logo">
            {{#link 'help_center'}}
            <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
            {{#if settings.show_brand_name}}
            <span aria-hidden="true">{{help_center.name}}</span>
            {{/if}}
            {{/link}}
            <div class="hide hidden" id="negative_logo">{{settings.negative_logo}}</div>
        </div>
        <div class="nav-wrapper-desktop">
            <nav class="user-nav" id="user-nav">
                <ul class="user-nav-list">
                    <li><a href="https://settleinus.org/about-core/">About CORE</i></a></li>
                    <li><a href="https://settleinus.org/life-in-the-u-s/">Life in the U.S</a></li>
                    <li><a href="https://settleinus.org/about-refugee-resettlement/">About Refugee
                            Resettlement</a></li>
                    <li class="active"><a href="https://settleinus.org/help-center/">Help Center</a></li>
                    <li><a href="https://settleinus.org/multilingual-resource-library/">Multilingual
                            Resource Library</a></li>
                </ul>
            </nav>
        </div>
        <div id="language-selector-wrapper" class="header-language-selector">
            {{#if alternative_locales}}
            <div class="dropdown language-selector">
                <button class="dropdown-toggle" aria-haspopup="true">
                    {{current_locale.name}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
                        class="dropdown-chevron-icon">
                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                            d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
                    </svg>
                </button>
                <span class="dropdown-menu dropdown-menu-end" role="menu">
                    {{#each alternative_locales}}
                    <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                        {{name}}
                    </a>
                    {{/each}}
                </span>
            </div>
            {{/if}}
        </div>

        <div class="nav-wrapper-mobile">
            <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false"
                aria-label="{{t 'toggle_navigation'}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                    class="icon-menu">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
                </svg>
            </button>

            <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
                <ul class="menu-list-mobile-items">
                    <li><a href="https://settleinus.org/about-core/">About CORE</i></a></li>
                    <li><a href="https://settleinus.org/life-in-the-u-s/">Life in the U.S</a></li>
                    <li><a href="https://settleinus.org/about-refugee-resettlement/">About Refugee
                            Resettlement</a></li>
                    <li><a href="https://settleinus.org/help-center/">Help Center</a></li>
                    <li><a href="https://settleinus.org/multilingual-resource-library/">Multilingual
                            Resource Library</a></li>
                </ul>

            </nav>

        </div>

    </header>