<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content">
  <div class="hero-inner">
    <ul class="blocks-list">
      <li class="blocks-item hero-left">
        <h2 class="top-header">{{ settings.hero_section_heading }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
          class="search-icon" aria-hidden="true">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
        </svg>
        {{search submit=false instant=settings.instant_search class='search search-full'}}
      </li>
      <li class="blocks-item hero-right">
        <img src="{{ settings.hero_image }}" class="hero-image" />
      </li>
    </ul>

  </div>
</section>
</section>
<div class="container">

  <h3 class="section-title">Support Topics</h3>
  <div class="flex-grid-section">

    <div class="flex-row">
      {{#each (slice categories 0 1) }}
      {{#each (slice sections 0 6) }}

      <div class="flex-col-lg-6">
        <div class="item-img-left">
          <div class="item_img">
            <div class="img_wrap">
              <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150">
                <rect x="2" y="2" width="146" height="146" style="fill:#DEDEDE;" /><text x="50%" y="50%" font-size="18"
                  text-anchor="middle" alignment-baseline="middle" font-family="monospace, sans-serif"
                  fill="#555555">150×150</text>
              </svg>
              <div class="item-img-caption">{{name}}</div>
            </div>

          </div>
          <div class="item-text">
            <h4><a href="{{url}}">{{description}}</a></h4>
          </div>
        </div>
        <div class="space-15"></div>
      </div>

      {{/each}}
      {{/each}}

    </div>
  </div>

  <h3 class="section-title">Browse common questions</h3>

  <ul class="tabs">
    {{#each (slice categories 1 5) }}
    <li class="{{#is @index 1}}active{{/is}} tab-header" rel="{{id}}">{{name}}</li>
    {{/each}}
  </ul>
  <div class="tab_container">
    {{#each (slice categories 1 5) }}
    <h3 class="d_active tab_drawer_heading" rel="{{id}}">{{name}}</h3>
    <div id="{{id}}" class="tab_content">

      {{#each sections}}
      <div class="blocks-item-text-container">
        <ul class="article-list">
          {{#each (slice articles 0 5)}}
          <li>
            <a href="{{url}}" class="article-item">{{title}}</a>
          </li>

          {{/each}}
        </ul>
        <a href="{{url}}" class="see-all">{{dc'see_all_articles'}}</a>
      </div>

      {{/each}}
      <!-- #tab{{id}} -->
    </div>
    {{/each}}

  </div>
  <!-- .tab_container -->
</div>