<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content">
  <div class="hero-inner">
    <ul class="blocks-list">
      <li class="blocks-item hero-left">
        <h2 class="top-header">{{ settings.hero_section_heading }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
          class="search-icon" aria-hidden="true">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
        </svg>
        {{search submit=false instant=settings.instant_search class='search search-full'}}
      </li>
      <li class="blocks-item hero-right">
        <img src="{{ settings.hero_image }}" class="hero-image" />
      </li>
    </ul>

  </div>
</section>
</section>
<div class="container">

  <h3 class="section-title">Support Topics</h3>
  <div class="flex-grid-section">

    <div class="flex-row">
      <div class="flex-col-lg-6">
        <div class="item-img-left">
          <div class="item_img">
            <div class="img_wrap">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                style="enable-background:new 0 0 100 100;" xml:space="preserve">

                <g>
                  <circle cx="27.2" cy="15.9" r="6.8" />
                  <path d="M43.2,50.5l-6.6-20.3c-0.1-1.2-0.4-2.6-1-3.1c0,0-2.3-2.2-5.3-2.7c-0.1,0-0.4,1.8-3.1,2.3c0,0-2.2-0.3-3.1-2.3
		c0,0-4.4,1.3-5.4,3.4c0,0,0,0.1-0.1,0.2c-0.2,0.2-0.3,0.4-0.4,0.6l-7.5,22.3c-0.3,0.9,0.2,1.8,1.1,2.1l0.9,0.3
		c0.9,0.3,1.8-0.2,2.1-1.1l4.9-14.6c0.1,0.2,0.1,0.3,0.1,0.3c0,0.5,0,0.9,0,1.4l-4.6,27h5.5L21,88.7c0,1.2,1,2.1,2.2,2.1
		c1.2,0,2.1-1,2.1-2.2l-0.2-22.4h4.7L30,88.7c0,1.2,1,2.1,2.2,2.1s2.1-1,2.1-2.2l-0.2-22.4h5.2l-4-22.9c0.2-0.6,0.3-1.3,0.4-2
		l3.5,10.4c0.4,1.1,1.6,1.7,2.7,1.4h0C43,52.8,43.6,51.6,43.2,50.5z" />
                  <polygon points="13.4,59.5 13.4,52.2 12.3,52.2 12.3,59.5 10.4,59.5 10.4,80 15.3,80 15.3,59.5 	" />
                  <circle cx="62.5" cy="15.9" r="6.8" />
                  <g>
                    <path d="M82.7,20.1C82.7,20.1,82.7,20.1,82.7,20.1c0-0.7-0.5-1.2-1.1-1.4c-0.1,0-0.1-0.1-0.2-0.1c0,0,0,0,0,0c0,0,0,0,0,0
			c-0.8,0-1.4,0.6-1.4,1.4c0,0,0,0,0,0c-0.1,0-0.2,0.1-0.3,0.1c-3.4,0.8-5.9,4-5.6,7.2c4.9,0,9.9,0,14.8,0
			C88.9,24,86.6,21.3,82.7,20.1z" />
                    <path
                      d="M73,28.4c0.1,1.1,0.7,1.8,1.8,1.8c4.4,0,8.7,0,13.1,0c1.1,0,1.8-0.7,1.7-1.8C84,28.4,78.5,28.4,73,28.4z" />
                  </g>
                  <path d="M83.9,29.2h-3.5l-6.5,8l-2-6.5c-0.1-1.3-0.3-3.1-1.1-3.7c0,0-2.3-2.2-5.3-2.7c-0.1,0-0.4,1.8-3.1,2.3c0,0-2.2-0.3-3.1-2.3
		c0,0-4.4,1.3-5.4,3.4c0,0,0,0.1-0.1,0.2c-0.2,0.2-0.3,0.4-0.4,0.6l-7.5,22.3c-0.3,0.9,0.2,1.8,1.1,2.1l0.9,0.3
		c0.9,0.3,1.8-0.2,2.1-1.1l3.6-10.6l2,24.7h0.7l0.2,22.4c0,1.2,0.9,2.1,2,2.1c1.1,0,2-1,2-2.2l-0.2-22.4h4.3l0.2,22.4
		c0,1.2,0.9,2.1,2,2.1c1.1,0,2-1,2-2.2l-0.2-22.4h0.7l1.8-22.4c0.1-0.2,0.2-0.4,0.2-0.6c0.3,0.6,1.3,0.8,2.4,0.5
		c0.9-0.3,1.5-0.9,1.6-1.4L85,31.1C85.4,30.7,84.7,29.2,83.9,29.2z M64.9,30.4l-1.2-0.7c-0.1,0.2-0.3,0.3-0.6,0.3
		c-0.3,0-0.5-0.1-0.6-0.3l-1.2,0.7l-1.9,1.1l0-2.2l0-2.2l1.9,1.1l1.2,0.7c0.1-0.2,0.3-0.3,0.6-0.3c0.2,0,0.4,0.1,0.6,0.3l1.2-0.7
		l1.9-1.1l0,2.2l0,2.2L64.9,30.4z" />
                </g>
              </svg>

            </div>
            <div class="item-img-caption">Employment</div>
          </div>

          <div class="item-text">

            <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna</a></h4>
          </div>
        </div>

        <div class="space-15"></div>

      </div>

      <div class="flex-col-lg-6">
        <div class="item-img-left">
          <div class="item_img">
            <div class="img_wrap">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                style="enable-background:new 0 0 100 100;" xml:space="preserve">

                <path d="M70.8,27.1L50,8.1l-20.8,19l-2.6,2.4V17.8H15.9v21.3L8.3,46h7.6v45.9h26.5V69h14.1v22.9H83V46h8.6L70.8,27.1z M38.9,63.7
	H26.5V49.6h12.4V63.7z M74.2,63.7H60.1V49.6h14.1V63.7z" />
              </svg>

            </div>
            <div class="item-img-caption">Housing</div>
          </div>
          <div class="item-text">
            <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna</a></h4>
          </div>
        </div>

        <div class="space-15"></div>

      </div>

    </div>
  </div>


  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
        {{#if ../has_multiple_categories}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            <span class="blocks-item-title">{{name}}</span>
            <span class="blocks-item-description">{{excerpt description}}</span>
          </a>
        </li>
        {{else}}
        {{#each sections}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            <span class="blocks-item-title">
              {{name}}
            </span>
            <span class="blocks-item-description">{{excerpt description}}</span>
          </a>
        </li>
        {{/each}}
        {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
    <section class="articles">
      <h2>{{t 'promoted_articles'}}</h2>
      <ul class="article-list promoted-articles">
        {{#each promoted_articles}}
        <li class="promoted-articles-item">
          <a href="{{url}}">
            {{title}}

            {{#if internal}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
              class="icon-lock" title="{{t 'internal'}}">
              <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
              <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
            </svg>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
  <section class="section home-section community">
    <h2>{{t 'community'}}</h2>
    {{#link 'community' class='community-link'}}
    {{t 'join_conversation'}}
    {{/link}}

    <div class="community-image"></div>
  </section>
  {{/if}}

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
    {{recent_activity}}
    {{/if}}
  </section>
</div>