<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content">
  <div class="hero-inner">
    <ul class="blocks-list">
      <li class="blocks-item hero-left">
        <h2 class="top-header">{{ settings.hero_section_heading }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
          class="search-icon" aria-hidden="true">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
        </svg>
        {{search submit=false instant=settings.instant_search class='search search-full'}}
      </li>
      <li class="blocks-item hero-right">
        <img src="{{ settings.hero_image }}" class="hero-image" />
      </li>
    </ul>

  </div>
</section>
</section>
<div class="container">
  <section class="sections">
    <h3 class="section-title">Support Topics</h3>
    <div class="flex-grid-section">

      <div class="flex-row">
        {{#each (slice categories 0 1) }}
        {{#each (slice sections 0 6) }}

        <div class="flex-col-lg-6">
          <div class="item-img-left">
            <div class="item_img">
              <div class="img_wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150">
                  <rect x="2" y="2" width="146" height="146" style="fill:#DEDEDE;" /><text x="50%" y="50%"
                    font-size="18" text-anchor="middle" alignment-baseline="middle" font-family="monospace, sans-serif"
                    fill="#555555">150×150</text>
                </svg>

              </div>
              <div class="item-img-caption">{{name}}</div>
            </div>
            <div class="item-text">
              <h4><a href="{{url}}">{{description}}</a></h4>
            </div>
          </div>
          <div class="space-15"></div>
        </div>

        {{/each}}
        {{/each}}

      </div>
    </div>
  </section>
  <section class="articles">
    <h3 class="section-title">Browse common questions</h3>

    <ul class="tabs">
      {{#each (slice categories 0 5) }}
      <li class="{{#is @index 0}}active{{/is}} tab-header" rel="tab{{@index}}">{{name}}</li>
      {{/each}}
    </ul>
    <div id="common_questions" class="tab_container">
      {{#each (slice categories 0 5) }}
      <h3 class="d_active tab_drawer_heading" rel="tab{{@index}}">{{name}}</h3>
      <div id="tab{{@index}}" class="tab_content">

        {{#each (slice sections 0 5)}}
        <div class="blocks-item-text-container">
          <ul class="article-list">
            {{#each (slice articles 0 5)}}
            <li>
              <a href="{{url}}" class="article-item">{{title}}</a>
            </li>

            {{/each}}
          </ul>
          <a href="{{url}}" class="see-all">{{dc'see_all_articles'}}</a>
        </div>

        {{/each}}
        <!-- #tab{{id}} -->
      </div>
      {{/each}}

    </div>
    <!-- .tab_container -->
  </section>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function ($) {

    // Helper Functions

    // Hide and Show functions
    function show(el) {
      var el = document.querySelectorAll(el);
      for (i = 0; i < el.length; i++) {
        if (el[i].style.display == 'none') {
          el[i].style.display = 'block';
        }
      }
      return false;
    }
    function hide(el) {
      var el = document.querySelectorAll(el);
      for (i = 0; i < el.length; i++) {
        if (el[i].style.display == 'block') {
          el[i].style.display = 'none';
        }
      }
      return false;
    }

    // Fade in Function
    function fadeIn(el) {
      el.style.opacity = 0;
      el.style.display = "block";
      var tick = function () {
        el.style.opacity = +el.style.opacity + 0.05;
        if (+el.style.opacity < 1) {
          (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16)
        }
      };
      tick();
    }

    // Remove and Add Class functions
    function addClass(el, className) {
      var el = document.querySelectorAll(el);

      for (i = 0; i < el.length; i++) {
        if (el.classList) {
          el[i].classList.add(className);
        } else {
          el[i].className += ' ' + className;
        }
      }
    }

    function removeClass(el, className) {
      var el = document.querySelectorAll(el);

      for (i = 0; i < el.length; i++) {
        if (el[i].classList) {
          el[i].classList.remove(className);
        } else {
          el[i].className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
        }
      }
    }

    // Main function for swapping tabs / content on click
    function tabMagic(el) {
      [].forEach.call(el, function (el) {
        el.addEventListener('click', function () {
          hide(".tab_content");

          var activeTab = this.getAttribute("rel");
          fadeIn(document.querySelector("#" + activeTab));

          removeClass("ul.tabs li", "active");
          addClass("li[rel^='" + activeTab + "']", "active");

          removeClass(".tab_drawer_heading", "d_active");
          addClass(".tab_drawer_heading[rel^='" + activeTab + "']", "d_active");
        })
      })
    }

    // Hide the content and show the first tab
    hide(".tab_content");
    //var parentElement = document.getElementsById("common_questions");
    fadeIn(document.querySelector("#tab1"));

    //Desktop Tabs
    var tabLi = document.querySelectorAll("ul.tabs li");
    tabMagic(tabLi);

    // Drawer Tabs
    var drawer = document.querySelectorAll(".tab_drawer_heading");
    tabMagic(drawer);

  });
</script>