<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content">
  <div class="hero-inner">
    <ul class="blocks-list">
      <li class="blocks-item hero-left">
        <h2 class="top-header">{{ settings.hero_section_heading }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
          class="search-icon" aria-hidden="true">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
        </svg>
        {{search submit=false instant=settings.instant_search class='search search-full'}}
      </li>
      <li class="blocks-item hero-right">
        <img src="{{ settings.hero_image }}" class="hero-image" />
      </li>
    </ul>

  </div>
</section>
</section>
<div class="container">
  <section class="sections">
    <h3 class="section-title">Support Topics</h3>
    <div class="flex-grid-section">

      <div class="flex-row">
        {{#each (slice categories 0 1) }}
        {{#each (slice sections 0 6) }}

        <div class="flex-col-lg-6">
          <div class="item-img-left">
            <div class="item_img">
              <div class="img_wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150">
                  <rect x="2" y="2" width="146" height="146" style="fill:#DEDEDE;" /><text x="50%" y="50%"
                    font-size="18" text-anchor="middle" alignment-baseline="middle" font-family="monospace, sans-serif"
                    fill="#555555">150×150</text>
                </svg>

              </div>
              <div class="item-img-caption">{{name}}</div>
            </div>
            <div class="item-text">
              <h4><a href="{{url}}">{{description}}</a></h4>
            </div>
          </div>
          <div class="space-15"></div>
        </div>

        {{/each}}
        {{/each}}

      </div>
    </div>
  </section>


</div>
<section class="section articles">
  <div class="container">
    <h3 class="section-title">Browse common questions</h3>

    <ul class="tabs">
      {{#each (slice categories 0 5) }}
      <li class="{{#is @index 0}}active{{/is}} tab-header" rel="tab{{@index}}">{{name}}</li>
      {{/each}}
    </ul>
    <div id="common_questions" class="tab_container">
      {{#each (slice categories 0 5) }}
      <h3 class="d_active tab_drawer_heading" rel="tab{{@index}}">{{name}}</h3>
      <div id="tab{{@index}}" class="tab_content">
        <div class="articles-container">
          <ul class="article-list">
            {{#each (slice sections 0 5)}}
            {{#each (slice articles 0 5)}}
            <li>
              <a href="{{url}}" class="article-item">{{title}}</a>
            </li>
            {{/each}}

            {{/each}}
          </ul>
          <a href="{{url}}" class="see-all">{{dc'see_all_articles'}}</a>
        </div>
        <!-- #tab{{id}} -->
      </div>
      {{/each}}

    </div>
    <!-- .tab_container -->
  </div>
</section>
<div class="container">
  <section class="sections">
    <h3 class="section-title">New Articles</h3>
  </section>
</div>
<section class="section new-articles">
  <div class="articles-filter-section">
    <div class="container">
      <div class="flex-grid-section">

        <div class="flex-row flex-center">


          <div class="flex-col-auto flex-center-spaced-15-80 max-width-250">


            <div class="topics-container">
              <div class="topics-icon-col text-center">
                <svg version="1.1" viewBox="0 0 14.846 9.9264" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g transform="translate(269.65 -371.33)">
                    <g transform="matrix(.86321 0 0 .86321 -421.57 49.274)" stroke-width="1.1585">
                      <g transform="matrix(.35278 0 0 -.35278 178.19 375.64)">
                        <path
                          d="m0 0c0.146 0.626 0.343 1.227 0.797 1.709 0.856 0.909 1.905 1.244 3.103 0.926 1.257-0.335 2.035-1.188 2.255-2.476 0.22-1.292-0.244-2.356-1.318-3.081-1.062-0.716-2.206-0.731-3.323-0.084-0.797 0.462-1.264 1.175-1.452 2.074-0.016 0.078-0.041 0.156-0.062 0.233z" />
                      </g>
                      <g transform="matrix(.35278 0 0 -.35278 178.19 382.25)">
                        <path
                          d="m0 0c0.141 0.614 0.344 1.193 0.767 1.688 0.839 0.987 2.338 1.346 3.556 0.826 1.254-0.535 2.04-1.885 1.864-3.201-0.189-1.413-1.234-2.526-2.556-2.721-1.426-0.211-2.727 0.473-3.342 1.786-0.136 0.289-0.195 0.614-0.289 0.923z" />
                      </g>
                      <g transform="matrix(.35278 0 0 -.35278 178.19 378.95)">
                        <path
                          d="m0 0c0.144 0.627 0.359 1.212 0.792 1.714 0.825 0.957 2.335 1.308 3.538 0.793 1.236-0.53 2.027-1.882 1.861-3.171-0.157-1.223-0.792-2.107-1.934-2.558-1.195-0.47-2.308-0.246-3.269 0.613-0.499 0.446-0.793 1.021-0.925 1.678-0.016 0.078-0.042 0.155-0.063 0.232z" />
                      </g>
                      <g transform="matrix(.35278 0 0 -.35278 186.09 379.89)">
                        <path
                          d="m0 0c-3.609 0-7.218 4e-3 -10.827-2e-3 -0.864-2e-3 -1.609 0.24-2.132 0.964-0.52 0.717-0.608 1.51-0.257 2.311 0.358 0.817 1.006 1.289 1.908 1.38 0.15 0.015 0.302 0.028 0.453 0.028 7.229 1e-3 14.459 0 21.688 2e-3 0.84 1e-3 1.561-0.254 2.07-0.949 0.523-0.713 0.625-1.502 0.274-2.31-0.356-0.819-0.997-1.297-1.898-1.393-0.219-0.023-0.441-0.03-0.662-0.03-3.539-1e-3 -7.078-1e-3 -10.617-1e-3" />
                      </g>
                      <g transform="matrix(.35278 0 0 -.35278 186.07 374.94)">
                        <path
                          d="m0 0c3.621 0 7.241-5e-3 10.862 3e-3 1.018 3e-3 1.81-0.371 2.293-1.293 0.749-1.43-0.221-3.201-1.832-3.353-0.185-0.017-0.371-0.033-0.557-0.033-7.171-2e-3 -14.342 0-21.513-5e-3 -0.874 0-1.637 0.226-2.171 0.96-0.529 0.729-0.616 1.532-0.25 2.343 0.367 0.814 1.021 1.284 1.923 1.356 0.383 0.03 0.768 0.021 1.152 0.021 3.364 2e-3 6.729 1e-3 10.093 1e-3" />
                      </g>
                      <g transform="matrix(.35278 0 0 -.35278 186.07 383.19)">
                        <path
                          d="m0 0c-3.597 0-7.194 6e-3 -10.791-4e-3 -1.031-2e-3 -1.835 0.365-2.322 1.304-0.741 1.432 0.24 3.202 1.849 3.343 0.174 0.015 0.348 0.03 0.522 0.03 7.183 1e-3 14.365-1e-3 21.548 4e-3 0.861 1e-3 1.614-0.222 2.145-0.939 0.536-0.721 0.638-1.521 0.274-2.341-0.363-0.815-1.01-1.289-1.911-1.374-0.277-0.026-0.558-0.022-0.837-0.022-3.492-2e-3 -6.985-1e-3 -10.477-1e-3" />
                      </g>
                    </g>
                  </g>
                </svg>

              </div>

              <div class="topics-dropdown">
                <div class="header-language-selector text-center">

                  <div class="dropdown topics-selector">
                    <button class="dropdown-toggle" aria-haspopup="true">
                      Select Topic
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false"
                        viewBox="0 0 12 12" class="dropdown-chevron-icon">
                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                          d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
                      </svg>
                    </button>
                    <span class="dropdown-menu dropdown-menu-end" role="menu">
                      {{#each categories }}
                      {{#each sections }}
                      <a href="{{url}}" role="menuitem">
                        {{name}}
                      </a>
                      {{/each}}
                      {{/each}}
                    </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="flex-col-auto max-width-250">
            <div class="language-container">
              <div class="language-icon-col text-center">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" x="0px"
                  y="0px" viewBox="0 0 69 57.4" style="enable-background:new 0 0 69 57.4;" xml:space="preserve">
                  <g>
                    <defs>
                      <rect id="SVGID_7_" x="-2135" y="-181.3" width="1920" height="4899.6"></rect>
                    </defs>
                    <clipPath id="SVGID_2_">
                      <use xlink:href="#SVGID_7_" style="overflow:visible;"></use>
                    </clipPath>
                    <g style="clip-path:url(#SVGID_2_);">
                      <defs>
                        <rect id="SVGID_13_" x="53.1" y="-16.2" width="1922" height="1044.4"></rect>
                      </defs>
                      <clipPath id="SVGID_4_">
                        <use xlink:href="#SVGID_13_" style="overflow:visible;"></use>
                      </clipPath>
                      <g style="opacity:7.000730e-02;clip-path:url(#SVGID_4_);">
                        <g>
                          <defs>
                            <rect id="SVGID_15_" x="-1037.9" y="-316.4" width="4168.6" height="4148.4"></rect>
                          </defs>
                          <clipPath id="SVGID_6_">
                            <use xlink:href="#SVGID_15_" style="overflow:visible;"></use>
                          </clipPath>
                        </g>
                      </g>
                    </g>
                  </g>
                  <g>
                    <defs>
                      <rect id="SVGID_17_" x="-2132.6" y="-173.7" width="1917.6" height="1044.4"></rect>
                    </defs>
                    <clipPath id="SVGID_8_">
                      <use xlink:href="#SVGID_17_" style="overflow:visible;"></use>
                    </clipPath>
                    <g style="opacity:7.000730e-02;clip-path:url(#SVGID_8_);">
                      <g>
                        <defs>
                          <rect id="SVGID_19_" x="-3223.6" y="-473.9" width="4168.6" height="4148.4"></rect>
                        </defs>
                        <clipPath id="SVGID_10_">
                          <use xlink:href="#SVGID_19_" style="overflow:visible;"></use>
                        </clipPath>
                      </g>
                    </g>
                  </g>
                  <g>
                    <defs>
                      <path id="SVGID_35_" d="M80.4-2124.7l1.2,994.5c0,0,964.3,390.1,1943.8,0l-1.2-994.5H80.4z"></path>
                    </defs>
                    <clipPath id="SVGID_12_">
                      <use xlink:href="#SVGID_35_" style="overflow:visible;"></use>
                    </clipPath>
                    <g style="opacity:7.000730e-02;clip-path:url(#SVGID_12_);">
                      <g>
                        <defs>
                          <rect id="SVGID_37_" x="-1022.8" y="-3603.3" width="4168.6" height="4148.4"></rect>
                        </defs>
                        <clipPath id="SVGID_14_">
                          <use xlink:href="#SVGID_37_" style="overflow:visible;"></use>
                        </clipPath>
                      </g>
                    </g>
                  </g>
                  <g>
                    <defs>
                      <rect id="SVGID_73_" x="-2135" y="-181.3" width="1920" height="4899.6"></rect>
                    </defs>
                    <clipPath id="SVGID_16_">
                      <use xlink:href="#SVGID_73_" style="overflow:visible;"></use>
                    </clipPath>
                  </g>
                  <path class="st18"
                    d="M50.9,49.2c-0.6-0.7-1.2-1.3-1.8-2c-0.9-1.1-1.8-2.2-2.7-3.3c-0.2-0.2-0.4-0.3-0.7-0.3c-3.5,0-7,0-10.5,0 c-2.2,0-3.8-1.1-4.9-3c-0.5-0.9-0.7-1.9-0.6-2.9c0-3.2,0-6.4,0-9.6c0-2.8,2.1-5.2,5.1-5.5c0.1,0,0.3,0,0.4,0v2.3 c-1.4,0.1-2.4,0.8-2.9,2.1c-0.2,0.4-0.2,0.9-0.2,1.3c0,3.3,0,6.5,0,9.8c0,1.6,1.1,2.9,2.6,3.2c0.3,0.1,0.7,0,1.1,0c3.7,0,7.3,0,11,0 c0.3,0,0.5,0.1,0.7,0.3c1.1,1.3,2.1,2.5,3.2,3.8c0,0.1,0.1,0.1,0.1,0.2c0,0,0.1,0,0.1,0v-4.2c0.6,0,1.2,0,1.8,0c0.9,0,1.8,0,2.7,0 c1.3,0,2.2-0.7,2.8-1.8c0.3-0.5,0.3-1.1,0.3-1.7c0-3.2,0-6.3,0-9.5c0-1.7-1.4-3.4-3.3-3.4c-4.3,0-8.6,0-12.9,0h-0.6v-2.4h1.6 c4.1,0,8.1,0,12.2,0c2.5,0,4.9,2.1,5.3,4.5c0,0.2,0.1,0.5,0.1,0.7v10.6c0,0.2-0.1,0.4-0.1,0.7c-0.5,2.6-2.8,4.8-5.6,4.7 c-0.7,0-1.3,0-2,0v0.6c0,1.1,0,2.3,0,3.4c0,0.7-0.3,1.3-0.9,1.6H50.9z">
                  </path>
                  <path class="st18"
                    d="M35.4,9.8c0.8,0.3,1.6,0.6,2.2,1.2c1.3,1.2,2,2.6,2,4.4c0,2.7,0,5.3,0,8c0,0.9,0,1.8-0.1,2.7 c-0.3,2.5-2.7,4.7-5.2,4.7h-0.2c0-0.7,0-1.5,0-2.2c0-0.1,0.2-0.2,0.3-0.2c0.8-0.1,1.5-0.5,2.1-1.1c0.5-0.6,0.8-1.3,0.8-2 c0-2.3,0-4.7,0-7c0-1,0-2.1,0-3.1c0-1.6-1.5-3.2-3.2-3.2c-5.4,0-10.8,0-16.3,0c-1.3,0-2.6,0-4,0c-1.3,0-2.7,1.2-2.9,2.6 c-0.1,0.8-0.1,1.7-0.1,2.5c0,2.6,0,5.1,0,7.7c0,1.7,0.8,3,2.2,3.4c0.6,0.2,1.3,0.2,1.9,0.2c1.2,0,2.3,0,3.5,0v4.2c0,0,0.1,0,0.1,0 c0.5-0.6,0.9-1.1,1.4-1.7c0.7-0.8,1.4-1.6,2-2.4c0.1-0.1,0.2-0.2,0.3-0.2c1.7,0,3.5,0,5.2,0c0,0,0,0,0.1,0v2.3c-0.5,0-1,0-1.6,0 c-0.9,0-1.7,0-2.6,0c-0.2,0-0.4,0.1-0.5,0.3c-1.4,1.6-2.7,3.3-4.1,4.9c-0.4,0.5-1,0.7-1.7,0.5c-0.6-0.2-1-0.6-1-1.2 c-0.1-0.6,0-1.2,0-1.9c0-0.8,0-1.7,0-2.6c-0.7,0-1.5,0-2.2,0c-2.8,0-5.2-2.2-5.4-5c0-0.1,0-0.2-0.1-0.3V15c0-0.1,0.1-0.2,0.1-0.3 c0.2-1.5,0.8-2.7,1.9-3.7c0.6-0.6,1.4-0.9,2.2-1.2H35.4z">
                  </path>
                  <path class="st18"
                    d="M43.1,26.1c0.7,0.1,1.3,0.1,2,0.2v1.5c1.4-0.2,2.8-0.3,4.2-0.5c0.1,0.6,0.1,1.2,0.2,1.9 c-1.5,0.1-3,0.3-4.5,0.4V31c0.5,0,1.1-0.1,1.6-0.1c0-0.1,0.1-0.2,0.1-0.4c0.6,0.1,1.2,0.2,1.8,0.3c0,0.2,0,0.3,0,0.4 c0,0,0,0,0.1-0.1c0.5,0.4,1.1,0.7,1.5,1.1c0.9,0.9,1,2,0.8,3.1c-0.2,1.3-1.1,2-2.3,2.5c-0.6,0.2-1.2,0.3-1.8,0.5 c-0.3,0.1-0.4,0-0.6-0.2c-0.2-0.4-0.5-0.7-0.8-1.1c0.6-0.2,1.2-0.3,1.7-0.4c0.5-0.2,1-0.5,1.4-0.9c0.7-0.9,0.3-2.2-0.7-2.6 c-0.6,0.8-1.1,1.6-1.7,2.3c-1.1,1.3-2.5,2.1-4.3,2.2c-1.2,0-2-0.8-2-1.9c0-1.8,1-2.9,2.4-3.6c0.5-0.3,0.7-0.6,0.6-1.1 c-0.1-0.4,0-0.8,0-1.2h-2.4c0-0.6-0.1-1.1-0.1-1.8H43C43.1,27.2,43.1,26.7,43.1,26.1 M43.1,33.4c-0.5,0.3-0.9,0.6-1.1,1 c-0.2,0.3-0.3,0.7-0.1,1.1c0.2,0.3,0.6,0.2,1,0.1c0.3-0.1,0.5-0.2,0.4-0.6c-0.1-0.2,0-0.4-0.1-0.6C43.2,34,43.2,33.7,43.1,33.4  M44.9,32.7c0,0.4,0.1,0.8,0.1,1.2l0.1,0c0.3-0.4,0.6-0.9,0.9-1.4C45.6,32.6,45.3,32.7,44.9,32.7">
                  </path>
                  <path class="st18"
                    d="M28.9,24.6c-0.8,0-1.6,0-2.3,0c-0.1,0-0.2-0.1-0.3-0.2c-0.2-0.6-0.5-1.3-0.7-1.9c-0.1-0.2-0.2-0.3-0.4-0.3 c-1.2,0-2.4,0-3.6,0c-0.2,0-0.3,0.1-0.3,0.3c-0.2,0.6-0.5,1.3-0.7,1.9c-0.1,0.2-0.2,0.3-0.4,0.3c-0.7,0-1.4,0-2.2,0 c0.2-0.6,0.4-1.1,0.6-1.6c1-2.6,2-5.2,2.9-7.8c0.2-0.5,0.4-1,0.6-1.4c0-0.1,0.2-0.2,0.3-0.2c0.7,0,1.3,0,2,0c0.2,0,0.3,0.1,0.4,0.3 c0.7,2,1.5,4,2.2,6c0.6,1.5,1.1,2.9,1.7,4.4C28.8,24.4,28.9,24.5,28.9,24.6 M23.6,16.4C23.5,16.4,23.5,16.4,23.6,16.4 c-0.5,1.3-1,2.6-1.5,3.9h2.8C24.5,19,24,17.7,23.6,16.4">
                  </path>
                </svg>
              </div>
              <div class="language-dropdown">
                <div id="filter-language-selector" class="text-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sections">
  <div class="container">
    <div class="flex-grid-section">
      <script>
        const truncate = (str, max, suffix) => str.length < max ? str : `${str.substr(0, str.substr(0, max - suffix.length).lastIndexOf(' '))}${suffix}`;
      </script>
      <div class="flex-row">
        {{#each categories }}
        {{#each sections }}
        {{#each articles}}
        <div class="flex-col-lg-6">
          <div class="item-img-left">
            <div class="item_img">
              <div class="img_wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150">
                  <rect x="2" y="2" width="146" height="146" style="fill:#DEDEDE;" /><text x="50%" y="50%"
                    font-size="18" text-anchor="middle" alignment-baseline="middle" font-family="monospace, sans-serif"
                    fill="#555555">300x300</text>
                </svg>

              </div>

            </div>
            <div class="item-text">
              <div class="article-title"><a href="{{url}}">{{title}}</a></div>
              <div class="article-description">
                <script>
                  var article = '\{{ body }}';
                  document.body.appendChild(truncate(article.replace(/(<([^>]+)>)/gi, ""), 120, '...'));
                </script>
              </div>
            </div>
          </div>
          <div class="space-15"></div>
        </div>
        {{/each}}
        {{/each}}
        {{/each}}

      </div>
    </div>
    <div class="pagination">{{pagination}}</div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function ($) {



    // Helper Functions

    // Hide and Show functions
    function show(el) {
      var el = document.querySelectorAll(el);
      for (i = 0; i < el.length; i++) {
        if (el[i].style.display == 'none') {
          el[i].style.display = 'block';
        }
      }
      return false;
    }
    function hide(el) {
      var el = document.querySelectorAll(el);
      for (i = 0; i < el.length; i++) {
        if (el[i].style.display == 'block') {
          el[i].style.display = 'none';
        }
      }
      return false;
    }

    // Fade in Function
    function fadeIn(el) {
      el.style.opacity = 0;
      el.style.display = "block";
      var tick = function () {
        el.style.opacity = +el.style.opacity + 0.05;
        if (+el.style.opacity < 1) {
          (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16)
        }
      };
      tick();
    }

    // Remove and Add Class functions
    function addClass(el, className) {
      var el = document.querySelectorAll(el);

      for (i = 0; i < el.length; i++) {
        if (el.classList) {
          el[i].classList.add(className);
        } else {
          el[i].className += ' ' + className;
        }
      }
    }

    function removeClass(el, className) {
      var el = document.querySelectorAll(el);

      for (i = 0; i < el.length; i++) {
        if (el[i].classList) {
          el[i].classList.remove(className);
        } else {
          el[i].className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
        }
      }
    }

    // Main function for swapping tabs / content on click
    function tabMagic(el) {
      [].forEach.call(el, function (el) {
        el.addEventListener('click', function () {
          hide(".tab_content");

          var activeTab = this.getAttribute("rel");
          fadeIn(document.querySelector("#" + activeTab));

          removeClass("ul.tabs li", "active");
          addClass("li[rel^='" + activeTab + "']", "active");

          removeClass(".tab_drawer_heading", "d_active");
          addClass(".tab_drawer_heading[rel^='" + activeTab + "']", "d_active");
        })
      })
    }

    var tabContent = document.getElementById("tab1");
    if (tabContent) {
      // Hide the content and show the first tab
      hide(".tab_content");
      //var parentElement = document.getElementsById("common_questions");
      fadeIn(document.querySelector("#tab1"));

      //Desktop Tabs
      var tabLi = document.querySelectorAll("ul.tabs li");
      tabMagic(tabLi);

      // Drawer Tabs
      var drawer = document.querySelectorAll(".tab_drawer_heading");
      tabMagic(drawer);
    }

    var languageSelector = document.getElementById("language-selector-wrapper");
    if (languageSelector) {
      // Get the element
      var elem = document.querySelector('#language-selector-wrapper > .language-selector');
      var elem2 = document.querySelector('#filter-language-selector');
      // Create a copy of it
      var clone = elem.cloneNode(true);
      // Inject it into the DOM
      elem2.appendChild(clone);
    }

  });
</script>